@import '@fontsource/bebas-neue';
@import '@fontsource/oswald/700.css';
@import '@fontsource/anton';
@import '@fontsource/playfair-display';
@import '@fontsource/lora';
@import '@fontsource/merriweather';
@import '@fontsource/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cursor */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  pointer-events: none;
  z-index: 9999;
}


/* Animación Preloader */
.circle-effect {
  border-style: dashed;
  border-width: 2px;
  border-color: #DD5245;
  animation: jagged 1.5s infinite ease-in-out;
}

@keyframes jagged {
  0%   { transform: rotate(0deg) scale(1); }
  25%  { transform: rotate(10deg) scale(1.05); }
  50%  { transform: rotate(-15deg) scale(0.98); }
  75%  { transform: rotate(5deg) scale(1.02); }
  100% { transform: rotate(0deg) scale(1); }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

#root {
  width: 100%;
}

.logo {
    width: 100%;
    height: 5rem;
}

.gap-icons {
  gap: 1.5rem !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* Ocultar barra scroll horizontal sin deshabilitarla */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}